
@inject AuthenticationStateProvider AuthProvider
@inherits ComputedStateComponent<AuthenticationState>

@{
    if (State.IsInitial(out var user))
        return;

    var isAuthenticated = user.User.Identity?.IsAuthenticated ?? false;
    // var usedAuthSchemas = user.User.Identities.Select(static kv => kv.Key.Schema).ToHashSet() ?? new();
    // var unusedAuthSchemas = AuthSchemas.Where(p => !usedAuthSchemas.Contains(p.Name)).ToArray();
    var signInOrAddFormat = isAuthenticated ? "Add {0} account" : "Sign in with {0}";
    var signInIconName = isAuthenticated ? "plus" : "login";
}

<Menu Class="@CssClass">
    <MenuItem>
        @if (isAuthenticated) {
            <Icon Type="user" Theme="IconThemeType.Outline"/>
        }
        else {
            <Icon Type="user-switch" Theme="IconThemeType.Outline"/>
        }
        <span class="pl-1">@user.User.Identity?.Name</span>
    </MenuItem>
    <MenuItem>
        @* @foreach (var (name, displayName) in unusedAuthSchemas) { *@
        @*     <MenuItem Color="Color.Primary" @onclick="@(_ => ClientAuthHelper.SignIn(name))"> *@
        @* *@
        @*         <Icon Type="@signInIconName" Theme="IconThemeType.Outline"/> *@
        @*         @(string.Format(signInOrAddFormat, displayName)) *@
        @*     </MenuItem> *@
        @* } *@
        <AuthorizeView>
            <Authorized>
                <MenuItem >@*@onclick="@(_ => ClientAuthHelper.SignOut())"*@
                    <Icon Type="logout" />
                    Sign out
                </MenuItem>
            </Authorized>
        </AuthorizeView>
    </MenuItem>
</Menu>

@code {
    private (string Name, string DisplayName)[] AuthSchemas { get; set; } = [];

    [Parameter] public string CssClass { get; set; } = "";

    protected override async Task<AuthenticationState> ComputeState(CancellationToken cancellationToken)
        => await AuthProvider.GetAuthenticationStateAsync();

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender) {
    //         // GetSchemas requires JS interop, so it can be called only at this point
    //         AuthSchemas = await ClientAuthHelper.GetSchemas();
    //         StateHasChanged();
    //     }
    // }
}
