@using BlazorInventory.Abstractions.Service
@using Humanizer
@inherits ActualLab.Fusion.Blazor.ComputedStateComponent<ICollection<LabelScanView>>
@inject IScanService ScanService

<h3>ScansWidget</h3>

@if (State.HasValue && State.ValueOrDefault != null)
{
    @foreach (var scan in State.Value)
    {
        <Descriptions Bordered Size="DescriptionsSize.Middle" Column="1">
            <DescriptionsItem Title="Label ID"><pre>@scan.LabelId</pre></DescriptionsItem>
            <DescriptionsItem Title="Location"><pre>@scan.Latitude</pre><br/><pre>@scan.Longitude</pre></DescriptionsItem>
            <DescriptionsItem Title="Scanned">@scan.Scanned.Humanize()</DescriptionsItem>
            <DescriptionsItem Title="Scanner"><pre>@scan.ScannerId</pre></DescriptionsItem>
            <DescriptionsItem Title="Scan Type"><Tag>@scan.ScanType</Tag></DescriptionsItem>
        </Descriptions>
    }
}
else
{
    <span>Waiting for State...</span>
}
