@using BlazorInventory.Abstractions.Service
@inherits ActualLab.Fusion.Blazor.ComputedStateComponent<ICollection<BlazorInventory.Abstractions.Models.LabelScan>>
@inject IScanService ScanService

<h3>ScansWidget</h3>

@foreach (var scan in State.Value)
{
    <div>
        Label ID: @scan.LabelId <br />
        Latitude: @scan.Latitude <br />
        Longitude: @scan.Longitude <br />
        Scanner: @scan.Scanned <br />
        Scanner: @scan.ScannerId <br />
        Scan Type: @scan.ScanType < br />
    </div>
}
