@page "/Label/{Id:guid}"
@attribute [Authorize]
@using InventorySharp.Models
@using InventorySharp.Services
@inherits ComputedStateComponent<ItemLabel>
@inject ILabelService LabelService

<h3>Details</h3>

Created: @State.Value.Created<br/>
Foreign Server: @State.Value.ForeignServerId<br/>
Identifier: @State.Value.Identifier<br/>
Item ID: @State.Value.ItemId<br/>
Label Type: @State.Value.LabelType<br/>
