@page "/Item/{id:guid}"
@attribute [Authorize]
@using ActualLab.CommandR
@using BlazorInventory.Abstractions.Service
@using Humanizer
@inherits ActualLab.Fusion.Blazor.ComputedStateComponent<ItemView>
@inject IItemService ItemService
@inject ICommander Commander
@inject NavigationManager NavigationManager

@if (State.HasValue)
{
    @if (State.Value != null)
    {
        <Card>
            <Descriptions Bordered Title="Item Details" Size="DescriptionsSize.Middle">
                <DescriptionsItem Title="Name">@State.Value.Name</DescriptionsItem>
                <DescriptionsItem Title="Description">@State.Value.Description</DescriptionsItem>
                <DescriptionsItem Title="Created">@State.Value.Created.Humanize()</DescriptionsItem>
                <DescriptionsItem Title="Parent"><pre>@State.Value.ParentId</pre></DescriptionsItem>
                <DescriptionsItem Title="Tags"><TagsWidget ItemId="@Id"/></DescriptionsItem>
            </Descriptions>

            <Button Danger @onclick="@Delete">Delete</Button>
        </Card>

        <Card>
            <GridRow>
                <GridCol Lg="8">
                    <Card>
                        <LabelsWidget ItemId="@Id"/>
                    </Card>
                </GridCol>
                <GridCol Lg="8">
                    <Card>
                        <ImagesWidget ItemId="@Id"/>
                    </Card>
                </GridCol>
                <GridCol Lg="8">
                    <Card>
                        <ScansWidget ItemId="@Id"/>
                    </Card>
                </GridCol>
            </GridRow>
        </Card>
    }
    else
    {
        <span>State is null</span>
    }
}
else
{
    <span>Waiting for State...</span>
}
