@page "/Item/{id:guid}"
@attribute [Authorize]
@using ActualLab.CommandR
@using BlazorInventory.Abstractions.Service
@inherits ActualLab.Fusion.Blazor.ComputedStateComponent<BlazorInventory.Abstractions.Models.Item>
@inject IItemService ItemService
@inject ICommander Commander
@inject NavigationManager NavigationManager

<h3>Item Details</h3>

<Card>
    Item Details go Here<br/>
    Name: @State.Value.Name<br/>
    Description: @State.Value.Description<br/>
    Create: @State.Value.Created<br/>
    Parent: @State.Value.ParentId<br/>
    Tags: <TagsWidget ItemId="@Id"/><br/>

    <a class="btn btn-danger" @onclick="Delete">Delete</a>
</Card>

<Card>
    <GridRow>
        <Card>
            <LabelsWidget ItemId="@Id"/>
        </Card>
        <Card>
            <ImagesWidget ItemId="@Id"/>
        </Card>
        <Card>
            <ScansWidget ItemId="@Id"/>
        </Card>
    </GridRow>
</Card>
