@page "/Item/"
@attribute [Authorize]
@using BlazorInventory.Abstractions.Models
@using BlazorInventory.Abstractions.Service
@inherits ActualLab.Fusion.Blazor.ComputedStateComponent<IList<BlazorInventory.Abstractions.Models.Item>>
@inject IItemService ItemService

@if (State.Error != null) {
    <Alert Type="AlertType.Warning" Message="@State.Error.Message" Banner />
}

<Table TItem="Item" DataSource="State.Value" >
    <TitleTemplate>
        <Flex Justify="FlexJustify.End" Gap="@("10")">
            <a href="/Item/Create"><Button Type="@ButtonType.Primary">New</Button></a>
        </Flex>
    </TitleTemplate>
    <ColumnDefinitions Context="row">
        <GenerateColumns Definitions="@(static (_,c) => { c.Filterable = true; c.Sortable = true; })" />

@* <Column Title="Name" @bind-Field="@context.Name" Sortable /> *@
@* <Column Title="Description" @bind-Field="@context.Description" Sortable /> *@

        <ActionColumn Title="Action">
            <a href="/Item/@row.Id" class="btn btn-ghost btn-xs">Details</a>
        </ActionColumn>
    </ColumnDefinitions>
</Table>
