@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using BlazorInventory.Data

@inject SignInManager<ApplicationUser> SignInManager

<form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
    <div>
        <AntiforgeryToken />
        <input type="hidden" name="returnUrl" value="@ReturnUrl" />
        <p>
            @foreach (var provider in _externalLogins)
            {
                <Tooltip Title="@($"Log in using your {provider.DisplayName} account")">
                    <button
                        Type="@ButtonType.Primary"
                        value="@provider.Name">@provider.DisplayName</button>
                </Tooltip>
            }
        </p>
    </div>
</form>

@code {
    private AuthenticationScheme[] _externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
    }
}
