@page "/Scan/{Id:guid}"
@attribute [Authorize]
@using BlazorInventory.Abstractions.Service
@using Humanizer
@inherits ActualLab.Fusion.Blazor.ComputedStateComponent<LabelScanView>
@inject IScanService ScanService

<h3>Details</h3>

<Descriptions Title="Scan Details" Bordered Size="DescriptionsSize.Middle">
    <DescriptionsItem Title="Label ID"><pre>@State.Value.LabelId</pre></DescriptionsItem>
    <DescriptionsItem Title="Location"><pre>@State.Value.Latitude</pre><br/><pre>@State.Value.Longitude</pre></DescriptionsItem>
    <DescriptionsItem Title="Scanned">@State.Value.Scanned.Humanize()</DescriptionsItem>
    <DescriptionsItem Title="Scanner">@State.Value.ScannerId</DescriptionsItem>
    <DescriptionsItem Title="Scan Type">@State.Value.ScanType</DescriptionsItem>
</Descriptions>

@if (State is { HasValue: true, Value.Latitude: not null })
{
    <MapBox Latitude="@State.Value.Latitude" Longitude="@State.Value.Longitude" Zoom="9" />
}
