@page "/Item/{id:guid}"
@attribute [Authorize]
@using ActualLab.CommandR
@using InventorySharp.Models
@using InventorySharp.Services
@using InventorySharp.Components.Widgets
@inherits ComputedStateComponent<Item>
@inject IItemService ItemService
@inject ICommander Commander
@inject NavigationManager NavigationManager

<h3>Item Details</h3>

<div class="flex w-full">
    <div class="card bg-base-300 rounded-box grid min-h-20 grow place-items-center">
        Item Details go Here<br/>
        Name: @State.Value.Name<br/>
        Description: @State.Value.Description<br/>
        Create: @State.Value.Created<br/>
        Parent: @State.Value.ParentId<br/>
        Tags: <TagsWidget ItemId="@Id"/><br/>

        <a class="btn btn-danger" @onclick="Delete">Delete</a>
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="card bg-base-300 rounded-box grid grow place-items-center">
        <div class="flex w-full flex-col">
            <div class="card bg-base-300 rounded-box grid min-h-20 place-items-center">
                <LabelsWidget ItemId="@Id" />
            </div>
            <div class="divider"></div>
            <div class="card bg-base-300 rounded-box grid min-h-20 place-items-center">
                <ImagesWidget ItemId="@Id" />
            </div>
            <div class="divider"></div>
            <div class="card bg-base-300 rounded-box grid min-h-20 place-items-center">
                <ScansWidget ItemId="@Id" />
            </div>
        </div>
    </div>
</div>
