@using ActualLab.CommandR
@using BlazorInventory.Abstractions.Models
@using BlazorInventory.Client.Geolocation
@using Humanizer
@using ZXingBlazor.Components
@inject ICommander Commander
@inject NavigationManager NavigationManager
@inject IGeolocationService GeolocationService

<div class="rz-p-12 rz-text-align-center">
    <Button Type="@ButtonType.Primary" OnClick="@ShowModal">Open WebScan</Button>
</div>

<Modal Title="WebScan"
       Style="top: 20px"
       Resizable="@true"
       Maximizable="@true"
       Centered="@true"
       DefaultMaximized="@false"
       Draggable="@true"
       Width="75%"
       Footer="@null"
       @bind-Visible="_visible">
    <Flex Direction="FlexDirection.Horizontal">
        <Form Model="@Inputs" OnFinish="@Lookup" Style="min-width: 25%;">
            <ValidationSummary/>
            <div class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
                <h2>Label details</h2>
                <FormItem Label="Label Type">
                    <EnumSelect TEnum="LabelType" @bind-Value="context.LabelType" Mode="SelectMode.Multiple" EnableSearch="true" AllowClear="true" HideSelected="true" ItemLabel="@(static l => l != LabelType.None ? l.Humanize() : "All")"/>
                </FormItem>

                <FormItem Label="Create Scan Record">
                    <Switch @bind-Checked="context.CreateScanRecord">Create Scan Record</Switch>
                </FormItem>

                <FormItem Label="Identifier" Required>
                    <Input @bind-Value="context.Identifier"/>
                </FormItem>

                @if (ShowScanBarcode)
                {
                    <BarcodeReader ScanResult="@BarcodeScan"
                                   ScanBtnTitle="Scan"
                                   ResetBtnTitle="Reset"
                                   CloseBtnTitle="Close"
                                   SelectDeviceBtnTitle="Select Device"
                                   Decodeonce="@true"
                                   Close="@(() => { ShowScanBarcode = false; })"/>
                }
                else
                {
                    <Button OnClick="@(() => { ShowScanBarcode = true; })">Scan Barcode</Button>
                }

                <Button Disabled="@Loading" Loading="@Loading" Type="@ButtonType.Primary" HtmlType="submit">
                    Submit
                </Button>
            </div>
        </Form>

        <div class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4" style="max-width: 25%;">
            <h2>Results</h2>
            @if (Loading)
            {
                <Spin Size="SpinSize.Large"/>
            }
            @if (LastScan != null)
            {
                @if (LastScan.Label == null || LastScan.Item == null)
                {
                    <Alert Type="AlertType.Warning" Message="Label could not be found.">
                        <div>
                            <Button class="btn btn-sm btn-primary" OnClick="@Create">Create New Item</Button>
                            <Button class="btn btn-sm btn-primary" OnClick="@Link">Link Existing item</Button>
                        </div>
                    </Alert>
                }
                else
                {
                    <Card Title="Label">
                        <Descriptions Column="2">
                            <DescriptionsItem Title="Identifier">@LastScan.Label.Identifier</DescriptionsItem>
                            <DescriptionsItem Title="Type">@LastScan.Label.LabelType.Humanize()</DescriptionsItem>
                            <DescriptionsItem Title="Foreign Server">
                                @if (LastScan.Label.ForeignServer != null)
                                {
                                    @LastScan.Label.ForeignServer.Namespace
                                }
                                else
                                {
                                    <span>None</span>
                                }
                            </DescriptionsItem>
                            <DescriptionsItem Title="Created">@LastScan.Label.Created.Humanize()</DescriptionsItem>
                        </Descriptions>
                    </Card>

                    <Card Title="Item">
                        <Descriptions Column="2">
                            <DescriptionsItem Title="Name">@LastScan.Item.Name</DescriptionsItem>
                            <DescriptionsItem Title="Description">@LastScan.Item.Description</DescriptionsItem>
                            <DescriptionsItem Title="Parent">
                                @if (LastScan.ParentItem != null)
                                {
                                    @LastScan.ParentItem.Name
                                }
                                else
                                {
                                    <span>None</span>
                                }
                            </DescriptionsItem>
                            <DescriptionsItem Title="Created">@LastScan.Item.Created.Humanize()</DescriptionsItem>
                            <DescriptionsItem Title="Labels">@LastScan.Item.Labels?.Humanize()</DescriptionsItem>
                            <DescriptionsItem Title="Tags">@LastScan.Item.Tags?.Humanize()</DescriptionsItem>
                            <DescriptionsItem Title="Photos">@LastScan.Item.Photos?.Humanize()</DescriptionsItem>
                        </Descriptions>
                    </Card>

                    @if (LastScan.Scan != null)
                    {
                        <Card Title="Scan">
                            <Descriptions Column="2">
                                <DescriptionsItem Title="Scanner">@LastScan.Scanner?.Name</DescriptionsItem>
                                <DescriptionsItem Title="Location">@LastScan.Scan.Latitude<br/>@LastScan.Scan.Longitude</DescriptionsItem>
                                <DescriptionsItem Title="Timestamp">@LastScan.Scan.Scanned.Humanize()</DescriptionsItem>
                                <DescriptionsItem Title="Type">@LastScan.Scan.ScanType.Humanize()</DescriptionsItem>
                            </Descriptions>
                        </Card>
                    }
                }
            }
            else
            {
                <span>Scan a label to begin</span>
            }
        </div>
    </Flex>
</Modal>
